<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group">
            <button
              type="submit"
              [disabled]="!recipeForm.valid"
              class="btn btn-success"
            >
              Save
            </button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              name="imagePath"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 p-3">
          <div class="form-group">
            <img
              [src]="recipeForm.value.imagePath"
              [alt]="recipeForm.value.name"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              rows="6"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of ingredientControls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-2">
              <button class="btn btn-danger" (click)="onDeleteIngredient(i)">
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                class="btn btn-success"
                type="button"
                (click)="onAddIngredient()"
              >
                Add Ingredients
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
